page-social-device-login {


  #device-login-qr {
    display: block;
    margin: 3rem auto;
    width: 250px;
    height: 250px;

    ngx-qrcode img {
      width: 100%;
      image-rendering: pixelated;
    }
  }

  #device-login-url {
    display: block;
    text-align: center;
  }

  #device-login-code {
    display: block;
    text-align: center;
    font-size: 3rem;

    p {
      margin-top: 0
    }
  }

  .loading-blur {
    color: transparent;
    text-shadow: 0 0 5px rgba(255,255,255,0.1);
  }

  #device-login-cancel button {
    display: block;
    margin: auto;
  }

}
